@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    background-color: #fff;
    background-size: cover;
    background: radial-gradient(circle, #fff 20%, #ccc);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
}

.container{
    width: 40%;
    min-width: 300px;
    margin-left: 30%;
    margin-top: 10%;
}

.main_calc{
    min-height: 40vw;
    background-color: #fff);
    background: linear-gradient(#fff, #eee);
    border-radius: 5%;
    position: relative;
    padding: 1.5vw 3vw;
    box-shadow: 0px 10px 18px #333;
}

.top_calc{

}

.layar{
    text-align: center;
}

.layar input{
    margin-top: 10%;
    height: 5vh;
    width: 90%; 
    background-color: #d2d2d2;
    border-radius: 5%;
    box-shadow: 0px 5px 18px #333;
    text-align: right;
    font-size: 1.8vw;
    color: #000;
}

.tombol input{
    position: relative;
    text-align: center;
    font-weight: bold;
    margin-left: 10px;
    top: 1vw;
    left: 3vw;
    width: 4.2vw;
    height: 2.2vw;
}

.tombolBlack input{
    background-color: #333;
    color: #fff;
    border-radius: 25vw;
    border-bottom: 0.2vw solid #000;
}

.tombolSilver input{
    background-color: #e5e5e5;
    border-radius: 25vw 25vw 45vw 45vw;
    border-bottom: 0.2vw solid #333;
}

.tombol input:hover{
    color: #eee;
    background-color: #17b52f;
}

.tombolSilver .btnDel{
    background-color: #fc624b;
    letter-spacing: -1px;
    padding-top: 0.5vh;
    padding-bottom: 0.7vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.tombolSilver .btnAC{
    background-color: #fc624b;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

p{
    line-height: 2rem;
}